.info {
  height: 80%;
}

.downloadButton {
  margin-bottom: 10px;
}

.collapsible {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.collapsible > div:first-child {
  cursor: pointer;
  padding: 10px;
  background-color: #f5f5f5;
}

hr {
  margin: 3px;
}

.overflowing {
  min-height: min-content;
  max-height: 0;
  overflow-y: auto;
  transition: max-height 0.3s ease;
}

.overflowing.collapsed {
  max-height: 225px;
}
